{{> navbar}}
<div class="uk-container uk-margin">
  <div class="uk-child-width-1-2@s" uk-grid>
    <div>
      <div class="uk-card uk-card-default uk-card-body uk-background-muted">
        <ul id="profileSection" uk-accordion>
          <li>
            <a class="uk-accordion-title" href="#">
              <span
                class="uk-margin-small-right"
                uk-icon="icon: settings"
              ></span
              >Profile
            </a>
            <div class="uk-accordion-content">
              <form class="uk-form-stacked" uk-grid>
                <!-- Github Username -->
                <div class="uk-margin-small uk-margin-small-top uk-margin-remove-bottom uk-text-small uk-width-1-1">
                  <p id="ghUsername" class="uk-margin-small">
                    GitHub Username:
                    <span id="githubUsername">{{ghUsername}}</span>
                    <span
                      id="editghUsernameButton"
                      class="uk-margin-small-left hover-cursor"
                      uk-icon="icon: pencil"
                      uk-tooltip="Changing the associated GitHub username will remove all repos associated with the currently set username. "
                    ></span>
                  </p>
                  <div id="ghUserNameEditContainer" style="display: none">
                    <div class="uk-margin-small">
                      <label class="uk-text-danger"
                        ><span uk-icon="icon: warning"></span> This will
                        remove all of your current settings and repos.</label
                      >
                    </div>
                    <div>
                      <input
                        id="ghUsernameInput"
                        class="uk-input uk-form-danger uk-width-1-2"
                        type="text"
                        value="{{ghUsername}}"
                        data-init="{{ghUsername}}"
                      />
                      <button id="cancelUsername" class="uk-button uk-button-default">
                        Cancel
                      </button>
                      <button id="saveUsername" class="uk-button uk-button-danger">
                        Save
                      </button>
                    </div>
                  </div>
                </div>
                <br><br>

                <!-- Set display name -->
                <div class="uk-margin-small uk-width-1-1">
                  <label class="uk-form-label">Display Name</label>
                  <div class="uk-inline">
                    <span
                      class="uk-form-icon"
                      uk-icon="icon: user"
                    ></span>

                    <input
                      class="uk-input"
                      type="text"
                      id="displayName"
                      value="{{displayName}}"
                      data-init="{{displayName}}"
                    />
                  </div>
                </div>
                <!-- Set profile image -->
                <div class="uk-margin-small uk-width-1-1">
                  <label class="uk-form-label">Profile Image (URL)</label>
                  <div class="uk-inline uk-width-1-1">
                    <span
                      class="uk-form-icon"
                      uk-icon="icon: image"
                    ></span>
                    <input
                      class="uk-input uk-width-1-1"
                      id="profileImg"
                      type="text"
                      value="{{profileImage}}"
                      data-init="{{profileImage}}"
                    />
                  </div>
                </div>

                <!-- Set about me -->
                <div class="uk-width-1-1 uk-margin-small">
                  <label class="uk-form-label">About Me</label>
                  <div class="uk-inline uk-width-1-1">
                    <textarea
                      class="uk-textarea"
                      id="aboutMe"
                      rows="5"
                      type="text"
                      data-init="{{aboutMe}}"
                      style="resize: none"
                    >{{aboutMe}}</textarea>
                  </div>
                </div>
                {{!-- </div> --}}
                <div class="uk-margin-small">
                  <button id="saveProfile" class="uk-button uk-button-primary">Save</button>
                  <button id="cancelProfile" class="uk-button uk-button-default">
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-body uk-background-muted">
        <ul uk-accordion>
          <li>
            <a class="uk-accordion-title" href="#">
              <span
                class="uk-margin-small-right"
                uk-icon="icon: settings"
              ></span>Theme And Layout
            </a>
            
            <div class="uk-accordion-content">
              <h4>Theme</h4>
              {{!-- THEME CHOOSER --}}
              <div class="uk-flex uk-flex-middle">
                <span class="uk-margin-small-right">Light</span>
                <label class="switch">
                  <input type="checkbox" id="themePicker" {{#ifEq theme "theme2"}}checked{{/ifEq}}/>
                  <span class="slider round"></span>
                </label>
                <span class="uk-margin-small-left">Dark</span>
              </div>
              {{!-- LAYOUT CHOOSER --}}
              <h3>Layout</h3>
              <form>
                <div class="uk-child-width-1-2" uk-grid>
                  <div>
                    <input class="layout-radio uk-radio" type="radio" name="radio2" 
                      data-layout="layout1" {{#ifEq userlayout "layout1"}}checked{{/ifEq}}/>
                      <div class="uk-card uk-card-body">
                        <img src="/images/layout1.png" />
                      </div>      
                  </div>
                  
                  <div>
                    <input class="layout-radio uk-radio" type="radio" name="radio2" 
                      data-layout="layout2" {{#ifEq userlayout "layout2"}}checked{{/ifEq}}/>
                    <div class="uk-card uk-card-body">
                        <img src="/images/layout2.png"/>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="uk-container">
  <div class="uk-card uk-card-default uk-card-body uk-width-1-1 uk-background-muted">
    <ul uk-accordion>
      <li class="uk-open">
        <a class="uk-accordion-title" href="#">
          <span class="uk-margin-small-right" uk-icon="icon: settings">
          </span>
          Repos
        </a>

        <div class="uk-accordion-content">
            {{#unless repos}}
              <div class="uk-margin-small uk-flex uk-flex-middle uk-flex-column uk-flex-row@s">
                <span uk-icon="icon: warning" class="uk-text-danger uk-margin-small-right" ></span>
                <label class="uk-text-danger"> There were no repos found for this user</label>
              </div>
            {{/unless}}

            <div uk-filter="target: .js-filter">
              <div class="uk-flex uk-flex-between uk-flex-top">
                <ul id="searchFilters" class="uk-subnav uk-subnav-pill">
                  <li uk-filter-control=".repoCard"><a href="#">All</a></li>
                  <li uk-filter-control=".included"><a href="#">Included</a></li>
                  <li uk-filter-control=".opac-50"><a href="#">Not Included</a></li>
                  <li uk-filter-control="" id="filter" hidden><a  href="#">Search</a></li> 
                </ul>

                <form> 
                  <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: search"></span>
                      <input id="filterInput" class="uk-input uk-form-small" type="text" placeholder="Search..." style="border-radius: 34px">
                  </div>
                </form>

              </div>
             
              <ul class="js-filter uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>
              {{#each repos}}
              <li data-name="{{this.name}}" class="{{#if this.included}} included {{else}}opac-50{{/if}} repoCard">
                <div class="uk-card uk-card-default uk-card-body uk-height-1-1">
                  <label class="switch" uk-tooltip="Include in Portfolio">
                    <input 
                      class="toggle-repo"
                      type="checkbox" 
                      id="themePicker" 
                      data-repoid="{{repoId}}" {{#if this.included}}checked{{/if}} />
                    <span class="slider round"></span>
                  </label>
                  <label class="uk-form-label"></label>
                  <h3 class="uk-card-title uk-margin-top ">{{this.name}}</h3>
                  <div>
                    <p>
                      {{this.description}}
                    </p>
                  </div>
                  <div class="uk-container uk-position-bottom">
                      <a href="{{this.repoUrl}}" class="uk-align-center uk-button " target="_BLANK">Visit Repo</a>
                  </div>
                </div>
              </li>
              {{/each}}
              </ul>
            </div>

        </div>
      </li>
    </ul>
  </div>

</div>
