<style>
    .img{
      height: 250px;
      width: 250px;
      
    }
    .section {
      float: right;
      min-width: 70%;
      padding-bottom: 1em;
      padding-top: 1em;
    }
      @media only screen and (max-width: 959px) {
        .img{
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
</style>

{{!-- uk-child-width-expand --}}
    <div class="uk-child-width-1-1 uk-container" style="padding-top: 2em;">
      <img
        class="uk-align-center uk-align-left@m uk-border-rounded uk-child-width-1-2@m img"
        data-src="{{profileImg}}"
        width="250"
        height="250"
        alt="profileImg"
        uk-img
      />
      <div class="uk-section uk-section-muted uk-width-1-2@m section">
        <div style="padding-left: 1em;">
          <h1>Hi! I'm {{displayName}}</h1>
          <h2>About Me</h2>
          <p>
            {{#if aboutMe}}
            {{aboutMe}}
            {{/if}}
          </p>
        </div>
      </div>
    </div>

    <div class="uk-container">
      <br>
      <h2>My Projects</h2>
      <div class="uk-grid-match uk-child-width-1-3@s " uk-grid>
        {{#each Repos}}
        <div class="uk-grid-item-match">
          <div class="uk-card uk-card-default uk-card-body uk-inline">
            <h3>{{name}}</h3>
            <hr>
            {{#if description}}
              <p>{{description}}</p>
             {{/if}}
            <br>
            <div class="uk-position-bottom uk-container" style="padding-bottom: 1em;">
              <a class="uk-align-center uk-button uk-button-default" style="width: 12em;" href=" {{ repoUrl }} ">Github Repo</a>
              <!-- <a href="{{repoUrl}}" style="padding-left: 1em;">Repository ></a>
              <a href="{{demoUrl}}" class="uk-align-right" style="padding-right: 1em;">Deployed Version ></a> -->
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <br>
