<head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/css/uikit.min.css"
  />
  <link rel="stylesheet" href="/themes/{{theme}}.css">
  <title> {{userData.username}} </title>
  <style>
    body {
      margin: 0;
    }
    .profileImage {
      height: 300px;
      width: 300px;
      border-radius: 50%;
      background: url("{{profileImg}}");
      background-size: cover;
      background-position: center;
     }
    .container1 {
      height: 100vh;
    }
    .container2 {
      padding-top: 100px;
      padding-bottom: 200px;
    }
    .intro {
      text-align: center;
    }
    .userImg {
      border-radius: 40%;
      width: 300px;
    }
    .aboutme {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 100px;
    }
    .aboutme > h2 {
      font-size: 60px;
    }
    .projects {
      width: 60%;
      margin: 0 auto;
    }
    .projects > h2 {
      font-size: 60px;
      text-align: right;
    }
    .uk-accordion-title{
      font-size: 32px;
    }
  </style>
</head>
<body>
  <div class="container1 uk-flex uk-flex-column uk-flex-middle uk-flex-center">
    <div class="intro profileImage">
    </div>
    <h1>Hi I'm {{ displayName }}</h1>
  </div>
  <div class="container2">
    <div class="aboutme">
      <hr>
      <h2>About Me</h2>
      {{#if aboutMe}}
        <p>{{aboutMe}}</p>
      {{/if}}
    </div>
    <div  class="projects">
      <hr>
      <h2>Projects</h2>
      <ul uk-accordion>
        {{#each Repos}}
          <li>
            <a class="uk-accordion-title" href="#">{{name}}</a>
            <div class="uk-accordion-content">
              {{#if description}}
                <p>{{description}}</p>
              {{/if}}
              <a class="uk-button uk-button-default" href=" {{ repoUrl }} ">Github Repo</a>
            </div>
          </li>
        {{/each}}
      </ul>
    <div>
  </div>
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit-icons.min.js"></script>
</body>